<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <main>
        <header>
          <h1>Exercise tracker REST API</h1>
          <p>This is a Freecodecamp Apis and Microservices Project.</p>
          <p>User Stories:</p>
          <ul>
            <li>I can create a user by posting form data username to /api/exercise/new-user and returned will be an object with username and _id.</li>
            <li>I can get an array of all users by getting api/exercise/users with the same info as when creating a user.</li>
            <li>I can add an exercise to any user by posting form data userId(_id), description, duration, and optionally date to /api/exercise/add. If no date supplied it will use current date. Returned will the the user object with also with the exercise fields added.</li>
            <li>I can retrieve a full exercise log of any user by getting /api/exercise/log with a parameter of userId(_id). Return will be the user object with added array log and count (total exercise count).</li>
            <li>I can retrieve part of the log of any user by also passing along optional parameters of from & to or limit. (Date format yyyy-mm-dd, limit = int)</li>
          </ul>
        </header>
        
        <section id="userListContainer"></section>
        
        <section id="exerciseContainer"></section>
        
        <section id="userInputContainer">
          <section id="createUserSection">
            <h3>Create New User</h3>
            <input id="createUserInput" type="text" name="username" placeholder="username">
            <input id="createUserSubmit" type="button" value="Submit">
          </section>

          <section>
            <h3>Add Exercise</h3>
            <input id="addExerciseUserID" type="text" name="userID" placeholder="userID">
            <input id="addExerciseDesc" type="text" name="desc" placeholder="description*">
            <input id="addExerciseDuration" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="addExerciseDate" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input id="addExerciseSubmit" type="button" value="Submit">
          </section>

          <section id="exerciseRequestContainer">
            <h3>Get Users's Exercise Log</h3>
            <input id="getExerciseUserID" type="text" name="userID" placeholder="userID">
            <input id="getExerciseFrom" type="text" name="from" placeholder="From: date (yyyy-mm-dd)">
            <input id="getExerciseTo" type="text" name="to" placeholder="To: date (yyyy-mm-dd)">
            <input id="getExerciseLimit" type="text" name="limit" placeholder="Limit # of exercieses returned to">
            <input id="getExerciseSubmit" type="button" value="submit">
          </section>
        </section>
        
        <div id="modalContainer" class="modal">
          <div class="modal-content">
            <span id="closeButton" class="close">&times;</span>
            <p id="modalMessage"></p>
          </div>
        </div>
      </main>
     <script src="app.js"></script>
   </body>

</html>
