
* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

section {
  padding: 10px;
  width: 33%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

#userInputContainer {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#userListContainer, #exerciseContainer {
  width: 100%;
}

#userListContainer th, #exerciseContainer th{
  padding: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  width: 50%;
  margin: auto;
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
}

/*W3Schools Modal Example*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  max-width: 80%;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0px; 
  }
  
  section {
    width: 100% !important;
    padding: 5px;
  }
  
  table {
    max-width: 100%; 
  }
  
  th {
    max-width: 33%; 
  }
  
}
